.phone-container {
  height: 510px;
  border: 2px solid rgb(157, 199, 233);
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.phone-container img {
  width: 100%;
  height: 300px;
}
.phone-container .btn {
  width: 100%;
  background-color: rgb(240, 212, 176);
  border: none;

  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone-container .btn:hover {
  background-color: orange;
  color: white;
}
.phone-container .btn p {
  margin-right: 10px;
  font-size: 20px;
}
